@font-face {
  font-family: "iconfont"; /* Project id 4111363 */
  src: url('//at.alicdn.com/t/c/font_4111363_ljtr4xjdm8n.woff2?t=1698580566448') format('woff2'),
       url('//at.alicdn.com/t/c/font_4111363_ljtr4xjdm8n.woff?t=1698580566448') format('woff'),
       url('//at.alicdn.com/t/c/font_4111363_ljtr4xjdm8n.ttf?t=1698580566448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\eac4";
}

.icon-shouyelunbotu:before {
  content: "\e627";
}

.icon-zujian-zuoyouhuadongtu:before {
  content: "\e604";
}

.icon-tuwendaohang:before {
  content: "\e608";
}

.icon-a-ziyuan521:before {
  content: "\e78d";
}

.icon-tuichuquanping:before {
  content: "\e8fa";
}

.icon-baitianmoshimingliangmoshi:before {
  content: "\e632";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-gerenzhongxin:before {
  content: "\e60f";
}

.icon-zhongyingwen:before {
  content: "\e7a3";
}

.icon-dark:before {
  content: "\e666";
}

.icon-083yier:before {
  content: "\e658";
}

.icon-caisefuzhou:before {
  content: "\e607";
}

.icon-wenjian:before {
  content: "\e600";
}

.icon-person:before {
  content: "\e675";
}

.icon-price:before {
  content: "\e6fc";
}

.icon-password:before {
  content: "\e7ed";
}

.icon-system:before {
  content: "\e61d";
}
